<!DOCTYPE html>
<html>
  <head>
    <title>FromScratch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <h1><%= yield(:header) %></h1>
      <%= render 'shared/navigation'%>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
      <footer>
        <div class='container'>
          <div class='col-xs-4 col-xs-offset-4'>
            <a class='btn btn-default btn-lg btn-block' href='https://github.com/bartoszmaka/first-rails-app'><p>Github</p></a>
          </div>
        </div>
      </footer>
    <%# <%= debug(params) %1> %>
  </body>
</html>
