<!DOCTYPE html>
<html>
  <head>
    <title>FromScratch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation'%>
    <div class='container'>
      <div class='row'>
        <div class='col-md-9 col-xs-12'>
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
        <div class='col-md-3 col-xs-12'>
          <div class='row'>
            <div class='affix'>
              <div class='col-md-11'>
                <div class='well'>
                  <%= render 'shared/ipsum' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'
        <% if ENV['RAILS_ENV']=='development' %>
          <footer>
            <%= debug(params) %>
          </footer>
        <% end %>
      </div>
    </div>
  </body>
</html>
