<!DOCTYPE html>
<html>
  <head>
    <title>FromScratch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation'%>
    <div class='container'>
      <%# <h1 style='margin-top: 0px'><%= yield(:header) %1></h1> %>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <% if ENV['RAILS_ENV']=='development' %>
      <div class='container'>
        <footer>
          <%= debug(params) %>
        </footer>
      </div>
    <% end %>
  </body>
</html>
